/* is it better to create local styles in 
componentes, to avoid conflicts 
with other components */

.post {
  background-color: rgb(139, 175, 187);
}
.author {
  font-weight: bold;
}
.text {
  font-size: 22px;
}